<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %cyan([%d{HH:mm:ss}]) %highlight([%level]) %green(%logger{36}) - %msg%n
            </pattern>
        </encoder>
    </appender>

    <logger name="com.epam" level="debug" />
    
    <root level="info">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
